@font-face {
    font-family: 'Whitney Light';
    src: url('./assets/fonts/whitneylight.woff') format('woff');
}

@font-face {
    font-family: 'Whitney Medium';
    src: url('./assets/fonts/whitneymedium.woff') format('woff');
}

@font-face {
    font-family: 'Whitney Bold';
    src: url('./assets/fonts/whitneybold.woff') format('woff');
}

:root{
    --main-font-family-light: 'Whitney Light', sans-serif;
    --main-font-family-medium: 'Whitney Medium', sans-serif;
    --main-font-family-bold: 'Whitney Bold', sans-serif;
    --off-white-clr: #f6f6f6;
}

body{
    font-family: var(--main-font-family-light);
}

h1, h2, h3{
    font-family: var(--main-font-family-bold);
}

p{
    font-family: var(--main-font-family-medium);
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* hero */
.hero{
    min-height: 100vh;
    background: url('./assets/images/hero-bg.jpg') center/cover;
}

.logo{
    max-width: 9rem;
}

.nav-link{
    color: #fff !important;
}

.hero-description{
    line-height: 2rem;
}

/* sections */
.section-1, .section-3{
    min-height: 100vh;
}


.section-2, .section-4{
    min-height: 100vh;
    background-color: var(--off-white-clr);
}

/* download section */
.download{
    background-color: var(--off-white-clr);
}